<div class="container-fluid Formularz text-center">

					<div class="form-horizontal" role="form">

								  <div class="form-group row">
									    <label class="col-sm-4 control-label Left "><b>Imie</b></label>
									    <div class="col-sm-6">
									      <input type="text" class="form-control Imie" placeholder="Podaj imie">
									    </div>
								  </div>

								  <div class="form-group row">
									    <div class="col-sm-4 control-label Left "><b>Nazwisko</b></div>
									    <div class="col-sm-6">
									      <input type="text" class="form-control Nazwisko" placeholder="Podaj nazwisko">
									    </div>
								  </div>

								  <div class="form-group row">
									    <label class="col-sm-4 control-label Left "><b>Adres</b></label>
									    <div class="col-sm-6">
									      <input type="text" class="form-control Adres" placeholder="Podaj adres">
									    </div>
								  </div>

								  <div class="form-group row">
									    <label class="col-sm-4 control-label Left "><b>Email</b></label>
									    <div class="col-sm-6">
									      <input type="email" class="form-control Email"  placeholder="Podaj adres email">
									    </div>
								  </div>

								   <div class="form-group row">
									    <label  class="col-sm-4 control-label Left"><b>Status</b></label>
												<select class="col-sm-3 control-label Select Status">
													<option class ="Green">Gorliwy</option>
													<option class ="Red">Niegorliwy</option>
												</select>								 
								  </div>


								  <div class="form-group row">
									    <label class="col-sm-4 control-label Left"><b>Telefon</b></label>
									    <div class="col-sm-6 control-label">
									      <input type="text" class="form-control Telefon" placeholder="Numer telefonu">
									    </div>
								  </div>

								  <div class="form-group row">
									    <div class="col-sm-offset-12 col-sm-12">
									      <div class="checkbox" >
									        <label>
									          <input type="checkbox" class="Odpowiedzialny"><b>Odpowiedzialny/a</b>
									        </label>
									      </div>
									    </div>
								  </div>
								  <div class="form-group row">
									    <div class="col-sm-offset-12 col-sm-12">
									      <div class="checkbox" >
									        <label>
									          <input type="checkbox" class="Kantor"><b>Kantor</b>
									        </label>
									      </div>
									    </div>
								  </div>
								   <div class="form-group row">
									    <label  class="col-sm-4 control-label Left"><b>Stan</b></label>
												<select  id="Select" class="col-sm-3 control-label Select Stan">
													<option class="wol">wolny</option>
													<option class="Kap">kapłaństwo</option>
													<option class="Mal">małżeństwo</option>
												</select>								 
								  </div>
								   <div class="form-group Choose row">
									    <label class="col-sm-4 control-label Left"><b>Imie żony/męża</b></label>
									    <div class="col-sm-6 control-label">
									      <input type="text" class="form-control MZImie" placeholder="Imie żony/męża">
									    </div>
								  </div>
								   <div class="form-group Choose row">
									    <div class="col-sm-offset-12 col-sm-12">
									      <div class="checkbox">
									        <label>
									          <input type="checkbox" class="Czlonek"><b>Czlonek Wspolnoty</b>
									        </label>
									      </div>
									    </div>
								  </div>

								  <div class="form-group row">
									    <div class="col-sm-offset-12 col-sm-12">

									      <!-- Button to Open the Modal -->
												  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
												    Dodaj 
												  </button>

												  <!-- The Modal -->
												  <div class="modal fade" id="myModal">
												    <div class="modal-dialog modal-dialog-centered">
												      <div class="modal-content">
												      
												        <!-- Modal Header -->
												        <div class="modal-header">
												          
												          <button type="button" class="close" data-dismiss="modal">&times;</button>
												        </div>
												        
												        <!-- Modal body -->
												        <div class="modal-body">
												         <h3>Czy chcesz dodac osobe ?</h3>
												        </div>
												        
												        <!-- Modal footer -->
												        <div class="modal-footer">
												          <button type="button" class="btn btn-secondary Dodaj" data-dismiss="modal">Dodaj</button>
												        </div>
												        
												      </div>
												    </div>
												  </div>
									    </div>
								  </div>
					</div>
 

				</div>
		</div>