<div class="container-fluid Container">
			<div class="row">
				<div class="col-sm-8"><h1 class="rounded responsive  BigSize"><b>Camino</b></h1>
					<p class="float-right">
						<h2><i class="czcionka">Aplikacja pomagająca w posłudze odpowiedzialnego</i></h2>
					</p>
				</div>
				<div class="col-sm-4"><img src="neokatechumenat1.gif" alt="logo" class="rounded responsive Obraz" /></div>
			</div>
</div>