<div class="container Margin-Top">
   
   <div class="row">
        <div class="col-lg"></div>
        <div><a class="col-lg Random Radius text-center vcenter" title="Losuj grupy" href="/Groups">Losuj Braci</a></div>
        <div class="col-lg"></div>
    </div>

</div>