<div class="page-header">

	{{>only-user-panel}}
	
	<center>
		<div class="iframe-div iframe-panel">
			<center>
				<iframe class="iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2513.5045585685853!2d21.369562915218		623!3d50.95137495902545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4718091696e5b707%3A0xcfd700d9f4a2b3d0!2sTadeus		za+Boya-%C5%BBele%C5%84skiego+1A%2C+Ostrowiec+%C5%9Awi%C4%99tokrzyski!5e0!3m2!1spl!2spl!4v1522188502990" width="600" 			height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</center>
		</div>
	</center>
</div> 