.App {
}
.nvb-title-header{
  text-align: center;
  /* border-radius: 10px; */
  border-bottom: 1px solid black;

}
.nvb-options-div {
  text-align: center;
  /* border-radius: 10px; */
  border-top: 1px solid black;
  /* border-bottom: 1px solid black; */
}
