
<!doctype html>
 <html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css\css.css" type="text/css" />

    <title>{{title}}</title>
  </head>
  <body>
    <div class="pos-f-t">
  		<div class="collapse" id="navbarToggleExternalContent">
    		<div class="bg-dark p-4">
     			 <h4 class="text-white">Xll Królewska</h4>
      				<span class="text-muted">
      					<div>
<!-- panel-heading nav navbar-nav navbar-inverse Panel -->
										  
								<ul>
										<li>
										    <a class="Color" href="/">Strona Główna</a>
										</li>		
										<li>
										    <a class="Color" href="#">Katechiści</a>
										</li>
										<li >
										   <a class="Color" href="/Random">Grupy</a>
										</li>
										<li class="dropdown">
											<a class="dropdown-toggle Color" data-toggle="dropdown">Lista Wspólnoty</a>
											<ul class="dropdown-menu">
												<li><a class="Color2 text-center" href="/Responsables">Odpowiedzialni</a></li>
												<li><a class="Color2 text-center" href="/ComunityList">Cała lista</a></li>
												<li><a class="Color2 text-center" href="/Cantors">Kantorzy</a></li>
											</ul>
												  </li>
												
										<li><a class="Color" href="#">Terminy</a>
										</li>
										<li>  
											<a class="Color" href="/AddMember">Dodaj osobe</a>
										</li>
										</ul>
							</div>									   											 
						
      				</span>
    		</div>
  	</div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>